<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col size="3" size="12" size-sm>
          <div>
            Service Point : {{servicePointName}}
          </div>
        </ion-col>
        <ion-col size="5" size="12" size-sm>
          <div>
            Search Beneficiary
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            Service Date : {{dateTime}}
          </div>
        </ion-col>
        <ion-col size="auto" (click)="commonService.logout()">
          <div>
            Logout
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="searchBenForm" (ngSubmit)="onSubmit(searchBenForm.value)" style="margin-bottom: 25px;">
    <ion-grid style="padding: 0px;">
      <ion-row>
        <ion-col size="12" size-sm>
          <ion-input formControlName="beneficiaryId" placeholder="Beneficiary ID" class="field-input"></ion-input>
        </ion-col>
        <ion-col size="12" size-sm>
          <ion-input formControlName="beneficiaryName" placeholder="Name" class="field-input" value="">
          </ion-input>
        </ion-col>
        <ion-col size="12" size-sm>
          <ion-input formControlName="beneficiarySurname" placeholder="Surname" class="field-input" value="">
          </ion-input>
        </ion-col>
        <ion-col size="12" size-sm>
          <ion-input type="number" formControlName="beneficiaryAge" placeholder="Age" class="field-input" value="">
          </ion-input>
        </ion-col>
        <ion-col size="12" size-sm>
          <ion-select formControlName="beneficiaryAgeUnit" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
          background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
            <ion-select-option *ngFor="let ageUnit of ageUnits" [value]="ageUnit.ageUnitId">
              {{ageUnit.ageUnitName}}
            </ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="12" size-sm>
          <ion-select formControlName="beneficiaryGender" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
          background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
            <ion-select-option *ngFor="let gender of genders" [value]="gender.genderId">
              {{gender.gender}}
            </ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col class="col-border-right" size="12" size-sm>
          <ion-button style="width: 90%; font-weight: bold; margin-top: -10px;" type="submit" color="primary">Submit
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row *ngIf="(beneficiaries.length > 0); else noBens" style="text-align: center; padding: 5px; background-color: #3b4bad;
       color: #FFF;">
        <ion-col size="12" size-sm>
          <div>Image</div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>Beneficiary ID</div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>Name</div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>Surname</div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>Age</div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>Gender</div>
        </ion-col>
      </ion-row>
      <div *ngIf="beneficiaries.length > 0">
        <ion-row *ngFor="let ben of beneficiaries" align-items-center justify-content-center style="text-align: center;
       color: #3b4bad; border: 2px solid #3b4bad;
         margin-top: 3px;" [routerLink]="['/beneficiary-registration']"
          [queryParams]="{type:'edit', paramID:ben.patientId}">
          <ion-col size="12" size-sm>
            <div>
              <img [src]="ben.imageUrl" alt="user-avatar" width="60px" />
            </div>
          </ion-col>
          <ion-col size="12" size-sm>
            <div>{{ben.patientId}}</div>
          </ion-col>
          <ion-col size="12" size-sm>
            <div>{{ben.name}}</div>
          </ion-col>
          <ion-col size="12" size-sm>
            <div>{{ben.surname}}</div>
          </ion-col>
          <ion-col size="12" size-sm>
            <div>{{ben.age}}</div>
          </ion-col>
          <ion-col size="12" size-sm>
            <div>{{ben.gender}}</div>
          </ion-col>
        </ion-row>
      </div>

      <ng-template #noBens>
        <ion-grid>
          <ion-row align-items-center justify-content-center
            style="padding: 150px; text-align: center; font-size: 20px; color: #000; margin-top: 3px;">
            <ion-col>
              No Data found
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </ion-grid>
  </form>
  <div style="margin-bottom: 640px;"></div>

  <app-footer> </app-footer>
</ion-content>