<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/doctor-personal"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="primary" >
      <ion-button (click)="submit()">
        {{currentQuestion =="five" ? "Done" : "Next"}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid
  style="
    height: 30%;
    background-color: #eab841;
    color: #fff;
    font-size: 18px;
  "
>
  <ion-row
    style="height: 100%;"
    class="ion-justify-content-center ion-align-items-center"
  >
    {{question}}
  </ion-row>
</ion-grid>


<ion-grid
    *ngIf="currentQuestion == 'one' || currentQuestion == 'two' || currentQuestion == 'three'"
  >
    <ion-row>
      <ion-col>
        <ion-input
          class="inputField"
          [(ngModel)]="inputField"
          [value]="inputField"
          placeholder="Please enter..."
        >
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button (click) ="submit()">Save & continue</ion-button>
      </ion-col>
      
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="currentQuestion == 'four'" class="btnsGrid">
    <ion-row *ngFor="let gender of commonService.genders">
      <ion-col
        (click)="genderChanged(gender.id)"
        [ngClass]="{'btn-success' : gender.id == inputField
      }"
      >
        {{gender.name}}
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="currentQuestion == 'five'">
    <ion-row>
      <ion-col>
        <ion-grid class="btnsGrid">
          <ion-row>
            <ion-col>
              Date of birth (YYYY-MM-DD)
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="optionsGrid">
          <ion-row>
            <ion-col class="showValue">{{selectedDob}} </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="btnsGrid">
          <ion-row>
            <ion-col (click)="selectDob()" class="btn-success">
              Select Date of birth
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  


</ion-content>
