<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col size="3" size="12" size-sm>
          <div>
            Service Point :
          </div>
        </ion-col>
        <ion-col size="5" size="12" size-sm>
          <div>
            Staff Attendance
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            Service Date :
          </div>
        </ion-col>
        <ion-col size="auto">
          <div>
            Logout
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="staffAttendanceForm" (ngSubmit)="onSubmit(staffAttendanceForm.value)" style="margin-bottom: 25px;">
    <ion-grid style="padding: 5px 30px;">
      <ion-row class="row-border">
        <ion-col class="col-border-right" size="12" size-sm>
          Session Type
        </ion-col>
        <ion-col size="12" size-sm>
          <ion-select formControlName="sessionType" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
          background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
            <ion-select-option value="1">Male
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row class="row-border">
        <ion-col class="col-border-right" size="12" size-sm>
          Staff Name
        </ion-col>
        <ion-col size="12" size-sm>
          <ion-select formControlName="staffName" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
          background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
            <ion-select-option value="1">Male
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row class="row-border">
        <ion-col class="col-border-right" size="12" size-sm>
          Staff Designation
        </ion-col>
        <ion-col size="12" size-sm>
          <ion-input formControlName="staffDesignation" class="field-input" placeholder="Staff Designation" value="">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row align-items-center justify-content-center>
        <ion-col size="12" size-sm>
          <ion-button style="width: 90%; font-weight: bold;" type="submit" color="primary">Save</ion-button>
        </ion-col>
        <ion-col size="12" size-sm>
          <ion-button (click)="resetValues()" style="width: 90%; font-weight: bold;" type="button" color="primary">Reset
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>