<ion-content class="signInModal">

  <ion-grid *ngIf="action == 'findDoctor'" class="grid appointmentsGrid">
    <ion-row>
      <ion-col class="card-heading">
        <ion-icon name="checkmark-outline"></ion-icon> Doctor Found
      </ion-col>
    </ion-row>
    <ion-row align-items-center justify-content-center>
      <ion-col>
        <ion-grid style="padding: 0px;">
          <ion-row style="color: #000; background: #fff;">
            <ion-col size='4'>
              <p style="margin: 0; margin-top: 15px; padding: 6px; text-align: center;">
                <img src="assets/images/milinda.jpg" height="80px" style="border-radius: 100%;" /></p>
            </ion-col>
            <ion-col>
              <p class="docName">Dr. Swapna Kunduru</p>
              <p>Homeopathy Ayush</p>
              <p>15 years experience</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button class="cancelButton" (click)="onCancel()">Cancel</button>
            </ion-col>
            <ion-col>
              <button class="okayButton" (click)="addDoctor()">Add</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="action == 'makePayment'" class="grid appointmentsGrid">
    <ion-row>
      <ion-col>
        <img src="assets/images/payment-success.png" width="100%" />
      </ion-col>
    </ion-row>
    <ion-row align-items-center justify-content-center>
      <ion-col>
        <h2>Payment Successful</h2>
      </ion-col>
    </ion-row>
    <ion-row align-items-center justify-content-center>
      <ion-col>
        <p style="font-size: 18px;">Your payment has been successfully processed.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="okayButton" (click)="onCancel()">Okay</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>