# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*
package-lock.json
tsconfig.spec.json
karma.conf.js

*/.idea
*/.ionic
*/.sass-cache
*/.sourcemaps
*/.versions
*/.vscode
*/coverage
*/dist
*/node_modules
*/*/node_modules
*/platforms
*/plugins
*/www
*/resources

project-developers/node_modules
project-developers/dist
project-developers/platforms
project-developers/resources/
project-developers/plugins
project-developers/www
project-developers/package-lock.json
project-developers/tsconfig.spec.json
project-developers/karma.conf.js
project-developers/config.xml

Ionic-Sqlite/node_modules
Ionic-Sqlite/dist
Ionic-Sqlite/platforms
Ionic-Sqlite/resources
Ionic-Sqlite/plugins
Ionic-Sqlite/www
Ionic-Sqlite/package-lock.json
Ionic-Sqlite/tsconfig.spec.json
Ionic-Sqlite/karma.conf.js
Ionic-Sqlite/config.xml

Default-Side-Menu-App/node_modules
Default-Side-Menu-App/dist
Default-Side-Menu-App/platforms
Default-Side-Menu-App/resources
Default-Side-Menu-App/plugins
Default-Side-Menu-App/www
Default-Side-Menu-App/package-lock.json
Default-Side-Menu-App/tsconfig.spec.json
Default-Side-Menu-App/karma.conf.js
Default-Side-Menu-App/config.xml

BPSCL/node_modules
BPSCL/dist
BPSCL/platforms
BPSCL/plugins
BPSCL/www
BPSCL/package-lock.json
BPSCL/tsconfig.spec.json
BPSCL/karma.conf.js

myfreaky/node_modules
myfreaky/dist
myfreaky/platforms
myfreaky/resources
myfreaky/plugins
myfreaky/package-lock.json
myfreaky/tsconfig.spec.json
myfreaky/karma.conf.js
myfreaky/config.xml

ionic4-push-WithoutPushNotification/resources/