# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*
package-lock.json
tsconfig.spec.json
karma.conf.js

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

project-developers/node_modules
project-developers/dist
project-developers/platforms
project-developers/resources/
project-developers/plugins
project-developers/www
project-developers/package-lock.json
project-developers/tsconfig.spec.json
project-developers/karma.conf.js
project-developers/config.xml