.grid {
  padding: 0;
  border-bottom: 2px solid #ddd;
}

p {
  padding: 0;
  margin: 5px;
}

.appointmentsGrid {
  height: 178px;
}

.doctorGrid {
  height: auto;
}

.card-heading {
  font-size: 20px;
  padding: 12px;
  color: #fff;
  background-color: #0a9f28;
}

.fileImage {
  border-radius: 5px;
}

.fileInfoCol {
  margin-top: 16px;
}
.fixed {
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #0a9f28;
  color: #fff;
  padding: 10px;
  bottom: 0;
}
.fixed button {
  background-color: #0a9f28;
  color: #fff;
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}
.noResultsGrid {
  width: 95%;
  margin-top: 25px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: -1px 2px 7px -1px rgba(128, 128, 128, 1);
  -moz-box-shadow: -1px 2px 7px -1px rgba(128, 128, 128, 1);
  box-shadow: -1px 2px 7px -1px rgba(128, 128, 128, 1);
}
