<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>All Developers</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list>
    <ion-item [routerLink]="['/', 'all-developers']">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>All Developers</ion-label>
      <ion-badge slot="end">{{developersCount}}</ion-badge>
    </ion-item>
    <ion-item [routerLink]="['/', 'add-developer']">
      <ion-icon name="add"></ion-icon> <ion-label>Add new Developer</ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-content>
  <ion-list>
    <ion-item
      class="hover"
      *ngFor="let developer of allDevelopers"
      [routerLink]="['/', 'view-developer', developer.id]"
    >
      {{developer.name}}
    </ion-item>
  </ion-list>
</ion-content>
