<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid doctorGrid">
    <ion-row style="color: #000; background: #fff;">
      <ion-col size="2">
        <p style="margin: 0; margin-top: 15px; padding: 6px; text-align: center;">
          <img src="assets/images/milinda.jpg" height="50px" style="border-radius: 100%;" />
        </p>
      </ion-col>
      <ion-col>
        <p class="docName">Dr. Swapna Kunduru</p>
        <p>Audio consultation for Rama Krishna</p>
        <p>Active now</p>
      </ion-col>
      <ion-col size="3" style="margin-top: 15px;">
        $850.00
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid doctorGrid">
    <ion-row style="color: #000; background: #fff;">
      <ion-col size="2">
        <p style="margin: 0; margin-top: 15px; padding: 6px; text-align: center;">
          <img src="assets/images/zuck.jpg" height="50px" style="border-radius: 100%;" />
        </p>
      </ion-col>
      <ion-col>
        <p class="docName">Dr. Abraham Gosh</p>
        <p>Audio consultation for Rama Krishna</p>
        <p>24 Mar 4:45 PM</p>
      </ion-col>
      <ion-col size="3" style="margin-top: 15px;">
        $500.00
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>