.grid {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0;
  border-bottom: 2px solid #ddd;
}

p {
  padding: 0;
  margin: 5px;
}

.appointmentsGrid {
  height: 178px;
}

.doctorGrid {
  height: auto;
}

.card-heading {
  font-size: 20px;
  padding: 12px;
  color: #fff;
  background-color: #0a9f28;
}
