<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Homeo Kits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="grid doctorGrid">
    <ion-row style="color: #000; background: #fff;">
      <ion-col size='2'>
        <p style="margin: 0; margin-top: 15px; padding: 6px; text-align: center;">
          <img src="assets/images/milinda.jpg" height="50px" style="border-radius: 100%;" /></p>
      </ion-col>
      <ion-col>
        <p class="docName">Dr. Swapna Kunduru</p>
        <p>Basic Kit</p>
        <p>For general health</p>
      </ion-col>
      <ion-col size="3">
        <p>$250.00</p>
        <button class="btn appoinmentButton" (click)="buyKit(250)">
          Buy Now
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid doctorGrid">
    <ion-row style="color: #000; background: #fff;">
      <ion-col size='2'>
        <p style="margin: 0; margin-top: 15px; padding: 6px; text-align: center;">
          <img src="assets/images/zuck.jpg" height="50px" style="border-radius: 100%;" /></p>
      </ion-col>
      <ion-col>
        <p class="docName">Dr. Abraham Gosh</p>
        <p>Anti-viral Kit</p>
        <p>Fight viruses</p>
      </ion-col>
      <ion-col size="3">
        <p>$500.00</p>
        <button class="btn appoinmentButton" (click)="buyKit(500)">
          Buy Now
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid doctorGrid">
    <ion-row style="color: #000; background: #fff;">
      <ion-col size='2'>
        <p style="margin: 0; margin-top: 15px; padding: 6px; text-align: center;">
          <img src="assets/images/sergey.jpg" height="50px" style="border-radius: 100%;" /></p>
      </ion-col>
      <ion-col>
        <p class="docName">Dr. Abraham Gosh</p>
        <p>Diabetic Kit</p>
        <p>Keep diabets under viruses</p>
      </ion-col>
      <ion-col size="3">
        <p>$300.00</p>
        <button class="btn appoinmentButton" (click)="buyKit(300)">
          Buy Now
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>