.forecast_container {
  overflow-x: visible !important;
  overflow-y: hidden;
  word-wrap: break-word;
}

.header > ion-col {
  min-width: 250px !important;
  background: #4d4d4d !important;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.data > ion-col {
  min-width: 250px !important;
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
