.container {
    width: 100%;
    background-color: #CCC;
    overflow: hidden; 
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .scroll {
      padding: 20px;
    overflow: auto;
  }
  .scroll > ion-col {
      padding: 20px;
      border-right: 1px solid red;
  }

  .forecast_container{
    overflow-x: visible!important;
    overflow-y: hidden;
    word-wrap: break-word;
    padding: 20px;
    font-size:0.8em;
    font-weight:300;
}