<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="settings.length > 0; else noSetting">
    <ion-item *ngFor="let setting of settings" detail>
      <div style="font-size: 18px; font-weight: bold;"> {{setting.name}} </div>
    </ion-item>
  </ion-list>

  <ng-template #noSetting>
    <ion-card>
      <ion-card-header>
        <ion-card-title> There are no Help Centers </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>

</ion-content>