.grid {
  height: 140px;
  margin-bottom: 20px;
  text-align: center;
  padding: 0;
  border-radius: 0 10px 10px;
}





p {
  padding: 0;
  margin: 5px;
}

.solidBorderBottom {
  border-bottom: 1px solid #999;
}

.heading {
  font-size: 18px;
  font-weight: bold;
}

.complaintDetailsList {
  font-size: 17px;
}
