.optionsList {
    margin: 12px 0px;
    font-weight: bold;
  }
  
  .selectedOption {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 10px;
    margin: 10px;
  }

  .inputField {
    font-size: 18px;
    
    border-bottom: 1px solid #999;
  }

  .btn-success {
    background-color: #0a9f28;
    color: #fff;
  }

  .showValue {
    color: #0a9f28;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  .btnsGrid ion-col {
    padding: 12px;
    border-radius: 20px;
    border: 2px solid #999;
    margin-top: 25px;
  }
  
  .btns {
    background-color: #0a9f28;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
  }
  