<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Slot selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding: 0px;" align-items-center justify-content-center>
    <ion-row
      style="color: #000; background: #fff; border-bottom: 2px dashed #000; padding: 8px 0px;"
    >
      <ion-col size="3.5" align-items-center justify-content-center>
        <p style="margin: 0;">
          <img
            src="assets/images/milinda.jpg"
            height="80px"
            style="border-radius: 100%;"
          />
        </p>
      </ion-col>
      <ion-col style="padding-top: 25px;">
        <p class="docName">{{doctorName}}</p>
        <p class="designation">{{doctorUsername}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="heading">{{slotName}} slots</ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid>
    <ion-row
      style="color: #000; text-align: center; background: #fff; border-bottom: 2px dashed #000; 
      padding: 8px 0px;"
    >
      <ion-col
        style="border: 1px solid #000; margin: 6px; border-radius: 5px;"
        *ngFor="let slot of allAvailableSlotsNTimings; let i = index"
        (click)="selectSlotDate(i)"
      >
        <p class="boldBlack">{{slot.title}}</p>
        <p class="slotsStatus slotsAvailable">
          {{slot.morningTimings.length + slot.afternoonTimings.length}} slots
        </p>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="container">
    <div class="scroll" scrollX="true" style="padding: 10px;">
      <ion-col
        style="border: 1px solid #000; margin: 5px; border-radius: 5px; width: 300px; height: 220px;"
        *ngFor="let slot of allAvailableSlotsNTimings; let i = index"
        (click)="selectSlotDate(i)"
      >
        <span class="boldBlack">{{slot.title}}</span>
        <span class="slotsStatus slotsAvailable">
          {{slot.morningTimings.length + slot.afternoonTimings.length}} slots
        </span>
      </ion-col>
    </div>
  </div>

  <ion-grid style="padding: 0px;" align-items-center justify-content-center>
    <ion-row
      style="color: #000; text-align: center; background: #fff; border-bottom: 2px dashed #000; 
      padding: 8px 0px;"
    >
      <ion-col>{{selectedSlotDate.title}}</ion-col>
    </ion-row>
    <!-- Morning slots -->
    <ion-row>
      <ion-col size="auto">
        <img
          src="assets/icons/sun-rise.png"
          height="40px"
          style="border-radius: 100%;"
        />
      </ion-col>
      <ion-col class="heading">
        {{selectedSlotDate.morningTimings.length}} slots
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        *ngFor="let slot of selectedSlotDate.morningTimings"
        (click)="selectSlot(slot, slot+'AM')"
        style="border: 1px solid #000; margin: 6px; border-radius: 5px;"
      >
        <p class="slotsStatus slotsAvailable">{{slot}} AM</p>
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>

    <!-- Afternoon slots -->
    <ion-row>
      <ion-col size="auto">
        <img
          src="assets/icons/sun.png"
          height="40px"
          style="border-radius: 100%;"
        />
      </ion-col>
      <ion-col class="heading">
        {{selectedSlotDate.afternoonTimings.length}} slots
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        *ngFor="let slot of selectedSlotDate.afternoonTimings"
        (click)="selectSlot(slot, slot+' PM')"
        style="border: 1px solid #000; margin: 6px; border-radius: 5px;"
      >
        <p class="slotsStatus slotsAvailable">{{slot}} PM</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
