.btnsGrid {
  // padding: 20px;
  text-align: center;
}

.btnsGrid ion-col {
  padding: 12px;
  border-radius: 20px;
  margin: 30px;
  margin-top: 25px;
}

.btn-success {
  background-color: #0a9f28;
  color: #fff;
}

.inputField {
  font-size: 18px;
  margin-top: 30px;
  border-bottom: 1px solid #999;
}

.btnsGrid ion-col {
  padding: 12px;
  border-radius: 20px;
  border: 2px solid #999;
  margin-top: 25px;
}

.btns {
  background-color: #0a9f28;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}

.showValue {
  color: #0a9f28;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.optionsGrid {
  text-align: center;
}
