<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Help Center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list style="margin: 0px; padding: 5px;background: #999;">
    <ion-input
      placeholder="Search the issue"
      style="background: #999; color: #fff; padding: 5px;"
    >
    </ion-input>
  </ion-list> -->
  <ion-list >
    <ion-item
      *ngFor="let helpCenter of helpCenters"
      [routerLink]="['/issue-details/' + helpCenter.id]"
      detail
    >
      <div style="font-size: 18px; font-weight: bold;">{{helpCenter.name}}</div>
    </ion-item>
  </ion-list>

 
</ion-content>
