<ion-grid class="site-color" style="padding: 0 3%;">
  <ion-row style="height: 162px; text-align: center;">
    <ion-col>
      <div>
        <img src="assets/profile_pic.jpg" alt="user-avatar" width="150px" />
      </div>
    </ion-col>
  </ion-row>
  <!-- <ion-row style="text-align: center;">
    <ion-col>
      <div>
        <ion-button
          style="width: 90%; font-weight: bold;"
          type="submit"
          color="primary"
          >Take a Photo</ion-button
        >
      </div>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col>
      <div>Name</div>
    </ion-col>
    <ion-col>
      <div>Test User</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>Surname</div>
    </ion-col>
    <ion-col>
      <div>Foobar</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>Age</div>
    </ion-col>
    <ion-col>
      <div>25</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>Gender</div>
    </ion-col>
    <ion-col>
      <div>Male</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>Date of Registration</div>
    </ion-col>
    <ion-col>
      <div>2019-12-16</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>District</div>
    </ion-col>
    <ion-col>
      <div>Sample</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>Mandal</div>
    </ion-col>
    <ion-col>
      <div>Foo</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>Village</div>
    </ion-col>
    <ion-col>
      <div>Bar</div>
    </ion-col>
  </ion-row>
</ion-grid>