<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col>
          <div>
            Home
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <!-- <img src="/assets/shapes.svg" alt="" /> -->
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="(userId > 0); else noUsersDetails">
        <ion-item detail>
          --> userId -> {{userId}}
        </ion-item>
        <ion-item detail>
          --> vanId -> {{vanId}}
        </ion-item>
      </ion-list>

      <ng-template #noUsersDetails>
        <ion-card>
          <ion-card-header>
            <ion-card-title> User details were not set </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-template>
    </ion-card-content>

    <ion-card-content>
      <ion-list *ngIf="(stateId > 0); else noSessionDetails">
        <ion-item detail>
          --> stateId -> {{stateId}}
        </ion-item>
        <ion-item detail>
          --> servicePointName -> {{servicePointName}}
        </ion-item>
      </ion-list>

      <ng-template #noSessionDetails>
        <ion-card>
          <ion-card-header>
            <ion-card-title> Session details were not set </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-template>
    </ion-card-content>

    <ion-card-content>
      <ion-list *ngIf="(adminUsers.length > 0); else noUsers">
        <ion-item *ngFor="let user of adminUsers" detail>
          --> {{user.username}} - {{user.password}}
        </ion-item>
      </ion-list>

      <ng-template #noUsers>
        <ion-card>
          <ion-card-header>
            <ion-card-title> There are no users </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-template>
    </ion-card-content>

    <ion-card-content>
      <ion-list *ngIf="(beneficiaries.length > 0); else noBeneficiaries">
        <ion-item *ngFor="let beneficiary of beneficiaries" detail>
          --> {{beneficiary.patientId}} - {{beneficiary.name}}
        </ion-item>
      </ion-list>

      <ng-template #noBeneficiaries>
        <ion-card>
          <ion-card-header>
            <ion-card-title> There are no Beneficiaries </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-template>
    </ion-card-content>

    <ion-card-content>
      <ion-list *ngIf="(visits.length > 0); else noVisits">
        <ion-item *ngFor="let visit of visits" detail>
          --> {{visit.patientId}} - {{visit.visitId}}
        </ion-item>
      </ion-list>

      <ng-template #noVisits>
        <ion-card>
          <ion-card-header>
            <ion-card-title> There are no visits </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
