<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Doctors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="grid appointmentsGrid">
    <ion-row>
      <ion-col class="card-heading">
        <div>Add Your Doctor</div>
      </ion-col>
    </ion-row>
    <ion-row align-items-center justify-content-center>
      <ion-col>
        <p>You haven't added any doctors yet.</p>
        <p>Add your trusted doctor here by</p>
        <p>entering the doctor's unique ID.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>