<ion-content [fullscreen]="true">
  <div id="main">
    <h1 class="siteHeading">Homeotel</h1>
    <p class="padd10">
      Meet homeopathy doctors from home and also get the medicines delivered to
      door step.
    </p>
    <div class="hero">
      <div class="form-box" [ngStyle]="{'height': formsDivHeight }">
        <div class="button-box">
          <div id="btn" [ngStyle]="{'left': btnLeftValue }"></div>
          <button type="button" class="toggle-btn" (click)="loginTab()">
            Login
          </button>
          <button type="button" class="toggle-btn" (click)="registerTab()">
            SignUp
          </button>
        </div>
        <form
          id="login"
          action="#"
          class="input-group"
          [ngStyle]="{'left': loginLeftValue }"
          [formGroup]="loginForm"
        >
          <input
            type="text"
            formControlName="username"
            class="input-field"
            placeholder="Username"
          />
          <input
            type="text"
            formControlName="password"
            class="input-field"
            placeholder="Password"
          />
        </form>
        <form
          id="register"
          action="#"
          class="input-group"
          [ngStyle]="{'left': registerLeftValue }"
          [formGroup]="registerForm"
        >
          <input
            type="text"
            formControlName="username"
            class="input-field"
            placeholder="Username"
          />
          <input
            type="email"
            formControlName="email"
            class="input-field"
            placeholder="Email"
          />
          <input
            type="password"
            formControlName="password"
            class="input-field"
            placeholder="Password"
          />
          <div class="tcs">
            By pressing 'submit' you agree to our <br />
            <a href="#">Terms & Conditions</a>
          </div>
        </form>
      </div>
      <button type="submit" class="submit-btn" (click)="submit()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </button>
      <div class="social-icons-holder">
        <div class="social-icons">
          <img
            src="./../../assets/icons/gp.png"
            alt="Google"
            (click)="auth.googleLogin()"
          />
          <img src="./../../assets/icons/fb.png" alt="Facebook" />
          <img src="./../../assets/icons/tw.png" alt="Twitter" />
        </div>
      </div>
    </div>
  </div>
</ion-content>
