<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col size="3" size="12" size-sm>
          <div>
            Service Point : Gogikona
          </div>
        </ion-col>
        <ion-col size="5" size="12" size-sm>
          <div>
            Vitals
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            Service Date: 2019-12-16
          </div>
        </ion-col>
        <ion-col size="auto" size="12" size-sm>
          <div>
            Logout
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #e6e9f2;">
  <!-- Parent Grid - starts here -->
  <form [formGroup]="vitalForm" (ngSubmit)="onSubmit(vitalForm.value)" style="margin-bottom: 25px;">
    <ion-grid style="padding: 0px;">
      <ion-row style="min-height: 580px;">
        <ion-col size="12" size-sm>
          <div>
            <!-- left side Grid - starts here -->
            <ion-grid style="padding: 0 3%;">
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Beneficiary ID
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select formControlName="benificiaryId" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                    <ion-select-option value="f">Female</ion-select-option>
                    <ion-select-option value="m">Male</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Height (36-245 CM)
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input formControlName="height" class="field-input" value=""></ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Weight (1.5-200 KG)
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input formControlName="weight" class="field-input" value=""></ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  BMI
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input formControlName="bmi" class="field-input" value=""></ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Temperature (92-105 F)
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input formControlName="temperature" class="field-input" value=""></ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Pulse (40-130)
                </ion-col>
                <ion-col>
                  <ion-input formControlName="pulse" class="field-input" value=""></ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Blood Pressure
                </ion-col>
                <ion-col style="padding: 0;" size="12" size-sm>
                  <ion-grid style="padding: 0; margin: 0;">
                    <ion-row style="width: 95%;">
                      <ion-col style="padding-left: 0;">
                        <ion-input formControlName="bpSystolic" class="field-input" type="text" placeholder="Systolic"
                          value="">
                        </ion-input>
                      </ion-col>
                      <ion-col>
                        <ion-input formControlName="bpDiastolic" class="field-input" type="text" value=""
                          placeholder="Diastolic"></ion-input>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Respiratory Rate (10-60)
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input formControlName="respiratoryRate" class="field-input" value=""></ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col size="12" size-sm>
                  <ion-button style="width: 90%; font-weight: bold;" type="submit" color="primary">Submit</ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button (click)="resetValues()" style="width: 90%; font-weight: bold;" type="button"
                    color="primary">Reset</ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button style="width: 90%; font-weight: bold;" type="button" color="primary">Skip</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- left side Grid - starts here -->
          </div>
        </ion-col>
        <ion-col size="4" style="border-left: 4px solid #3b4bad;">
          <div>
            <app-user-details></app-user-details>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- Parent Grid - ends here -->
  <app-footer> </app-footer>
</ion-content>