<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col size="3">
          <div>
            Service Point : Gogikona
          </div>
        </ion-col>
        <ion-col size="5">
          <div>
            Vitals
          </div>
        </ion-col>
        <ion-col>
          <div>
            Service Date: 2019-12-16
          </div>
        </ion-col>
        <ion-col size="auto">
          <div>
            Logout
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #e6e9f2;">
  <!-- Parent Grid - starts here -->
  <ion-grid style="padding: 0px;">
    <ion-row style=" height: 580px;">
      <ion-col>
        <div>
          <!-- left side Grid - starts here -->
          <ion-grid style="padding: 0 3%;">
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                Beneficiary ID
              </ion-col>
              <ion-col>
                <ion-select
                  class="field-input"
                  style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)"
                  placeholder="Select"
                >
                  <ion-select-option value="f">Female</ion-select-option>
                  <ion-select-option value="m">Male</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                Height (36-245 CM)
              </ion-col>
              <ion-col>
                <ion-input class="field-input" value=""></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                Weight (1.5-200 KG)
              </ion-col>
              <ion-col>
                <ion-input class="field-input" value=""></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                BMI
              </ion-col>
              <ion-col>
                <ion-input class="field-input" value=""></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                Temperature (92-105 F)
              </ion-col>
              <ion-col>
                <ion-input class="field-input" value=""></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                Pulse (40-130)
              </ion-col>
              <ion-col>
                <ion-input class="field-input" value=""></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                Blood Pressure
              </ion-col>
              <ion-col style="padding: 0;">
                <ion-grid style="padding: 0; margin: 0;">
                  <ion-row style="width: 95%;">
                    <ion-col style="padding-left: 0;">
                      <ion-input
                        class="field-input"
                        type="text"
                        placeholder="Systolic"
                        value=""
                      >
                      </ion-input
                    ></ion-col>
                    <ion-col>
                      <ion-input
                        class="field-input"
                        type="text"
                        value=""
                        placeholder="Systolic"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                Respiratory Rate (10-60)
              </ion-col>
              <ion-col>
                <ion-input class="field-input" value=""></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                <ion-button
                  style="width: 90%; font-weight: bold;"
                  type="submit"
                  color="primary"
                  >Submit</ion-button
                >
              </ion-col>
              <ion-col>
                <ion-button
                  style="width: 90%; font-weight: bold;"
                  type="reset"
                  color="primary"
                  >Reset</ion-button
                >
              </ion-col>
              <ion-col>
                <ion-button
                  style="width: 90%; font-weight: bold;"
                  type="reset"
                  color="primary"
                  >Skip</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- left side Grid - starts here -->
        </div>
      </ion-col>
      <ion-col size="4" style="border-left: 4px solid #3b4bad;">
        <div>
          <app-user-details></app-user-details>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Parent Grid - ends here -->
  <app-footer> </app-footer>
</ion-content>
