<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Files</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid doctorGrid" *ngFor="let file of files">
    <ion-row
      style="color: #000; background: #fff;"
      [routerLink]="['/edit-file']"
    >
      <ion-col size="3">
        <p style="margin: 0; padding: 6px; text-align: center;">
          <img class="fileImage" [src]="file.imageUrl" height="70px" />
        </p>
      </ion-col>
      <ion-col class="fileInfoCol">
        <p class="fileName">file.fileName</p>
        <p>file.date</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col class="continue" (click)="openMenu()">
      <button>Add File</button>
    </ion-col>
  </ion-row>
</ion-content>
