.btnsGrid {
  //   padding: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.optionsGrid {
  text-align: center;
  color: #999;
  font-size: 20px;
}

.skip {
  border: 1px solid #000;
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 50px;
  font-weight: bold;
}
