<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col size="3">
          <div>
            Service Point : Gogikona
          </div>
        </ion-col>
        <ion-col size="5">
          <div>
            Doctor
          </div>
        </ion-col>
        <ion-col>
          <div>
            Service Date: 2019-12-16
          </div>
        </ion-col>
        <ion-col size="auto">
          <div>
            Logout
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #e6e9f2;">
  <!-- Parent Grid - starts here -->
  <ion-grid style="padding: 0px;">
    <ion-row style=" height: 670px;">
      <ion-col>
        <div>
          <!-- left side Grid - starts here -->
          <ion-grid style="padding: 0 3%;">
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                Beneficiary ID
              </ion-col>
              <ion-col>
                <ion-select
                  class="field-input"
                  style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)"
                  placeholder="Select"
                >
                  <ion-select-option value="f">Female</ion-select-option>
                  <ion-select-option value="m">Male</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                RCH
              </ion-col>
              <ion-col>
                <ion-select
                  class="field-input"
                  style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)"
                  placeholder="Select"
                >
                  <ion-select-option value="f">Female</ion-select-option>
                  <ion-select-option value="m">Male</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                CD
              </ion-col>
              <ion-col>
                <ion-input class="field-input" value=""></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                NCD
              </ion-col>
              <ion-col>
                <ion-input class="field-input" value=""></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                ANC/PNC Cases
              </ion-col>
              <ion-col>
                <ion-input class="field-input" value=""></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                Risk Factors
              </ion-col>
              <ion-col>
                <ion-input class="field-input" value=""></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                Important Clinical Findings
              </ion-col>
              <ion-col>
                <ion-input class="field-input" value=""></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                Minor Ailments
              </ion-col>
              <ion-col>
                <ion-input class="field-input" value=""></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="row-border" style="height: 85px;">
              <ion-col class="col-border-right">
                <ion-checkbox></ion-checkbox> Remarks
              </ion-col>
              <ion-col>
                <ion-textarea
                  class="field-input"
                  placeholder="Enter more information here..."
                ></ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                Reffered To
              </ion-col>
              <ion-col>
                <ion-select
                  class="field-input"
                  style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)"
                  placeholder="Select"
                >
                  <ion-select-option value="f">Female</ion-select-option>
                  <ion-select-option value="m">Male</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="row-border row-height-45">
              <ion-col class="col-border-right">
                <ion-button
                  style="width: 90%; font-weight: bold;"
                  type="submit"
                  color="primary"
                  >Submit</ion-button
                >
              </ion-col>
              <ion-col>
                <ion-button
                  style="width: 90%; font-weight: bold;"
                  type="reset"
                  color="primary"
                  >Reset</ion-button
                >
              </ion-col>
              <ion-col>
                <ion-button
                  style="width: 90%; font-weight: bold;"
                  type="reset"
                  color="primary"
                  >Skip</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- left side Grid - starts here -->
        </div>
      </ion-col>
      <ion-col size="4" style="border-left: 4px solid #3b4bad;">
        <div>
          <app-user-details></app-user-details>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Parent Grid - ends here -->
  <app-footer> </app-footer>
</ion-content>
