<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col size="3" size="12" size-sm>
          <div>
            Service Point : {{servicePointName}}
          </div>
        </ion-col>
        <ion-col size="5" size="12" size-sm>
          <div>
            Doctor
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            Service Date: {{dateTime}}
          </div>
        </ion-col>
        <ion-col size="auto" (click)="commonService.logout()">
          <div>
            <ion-icon name="log-out"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #e6e9f2;">
  <!-- Parent Grid - starts here -->
  <form [formGroup]="doctorForm" (ngSubmit)="onSubmit(doctorForm.value)">
    <ion-grid style="padding: 0px;">
      <ion-row style="min-height: 670px;">
        <ion-col size="12" size-sm>
          <div>
            <!-- left side Grid - starts here -->
            <ion-grid style="padding: 0 3%;">
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Beneficiary ID
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select interface="popover" (ionChange)="benIdChange()" formControlName="beneficiaryId"
                    class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                    <ion-select-option *ngFor="let benId of benIds" [value]="benId.patientId">{{benId.patientId}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  RCH
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select formControlName="rch" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" [disabled]='true' placeholder="Select">
                    <ion-select-option *ngFor="let rch of rchs" [value]="rch.beneficiaryTypeId">
                      {{rch.beneficiaryTypeName}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  CD(Chronic Illness)
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select (ionChange)="cdChange()" [disabled]="showRemarks" formControlName="cd" multiple="true"
                    class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                    <ion-select-option *ngFor="let singleCd of cds" [value]="singleCd.provisionalDiagnosisId">
                      {{singleCd.provisionalDiagnosisName}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45" [ngClass]="{
                'hider': !allowOtherCd }">
                <ion-col class="col-border-right" size="12" size-sm>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input formControlName="otherCd" placeholder="CD_Other" class="field-input" value="">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  NCD(Nutritional Diseases)
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select (ionChange)="ncdChange()" [disabled]="showRemarks" formControlName="ncd" multiple="true"
                    class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                    <ion-select-option *ngFor="let singleNcd of ncds" [value]="singleNcd.provisionalDiagnosisId">
                      {{singleNcd.provisionalDiagnosisName}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45" [ngClass]="{
                'hider': !allowOtherNcd }">
                <ion-col class="col-border-right" size="12" size-sm>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input formControlName="otherNcd" placeholder="NCD_Other" class="field-input" value="">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Minor Ailments
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select (ionChange)="minorAilmentChange()" [disabled]="showRemarks"
                    formControlName="minorAilments" multiple="true" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                    <ion-select-option *ngFor="let singleMinorAilment of minorAilments"
                      [value]="singleMinorAilment.provisionalDiagnosisId">
                      {{singleMinorAilment.provisionalDiagnosisName}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45" [ngClass]="{
                'hider': !allowOtherMinorAilment }">
                <ion-col class="col-border-right" size="12" size-sm>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input formControlName="otherMinorAilment" placeholder="MinorAilment_Other" class="field-input"
                    value="">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border" style="height: 85px;">
                <ion-col class="col-border-right" size="12" size-sm>
                  <ion-checkbox (ionChange)="remarksCheckbox($event)"></ion-checkbox>
                  Remarks
                </ion-col>
                <ion-col>
                  <div [ngClass]="{'hider' : !showRemarks}">
                    <ion-textarea formControlName="remarks" class="field-input"
                      placeholder="Enter more information here..."></ion-textarea>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Referred To
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select (ionChange)="referredToChange()" [disabled]="showRemarks" formControlName="referredTo"
                    class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                    <ion-select-option *ngFor="let hospital of hospitals" [value]="hospital.hospitalId">
                      {{hospital.hospitalName}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45" [ngClass]="{
                'hider': !allowOtherReferredTo }">
                <ion-col class="col-border-right" size="12" size-sm>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input formControlName="otherReferredTo" placeholder="ReferredTo_Other" class="field-input"
                    value="">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45 margin-top-20">
                <ion-col size="12" size-sm>
                  <ion-button style="width: 90%; font-weight: bold;" type="submit" color="primary">Submit</ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button (click)="resetValues()" style="width: 90%; font-weight: bold;" type="button"
                    color="primary">Reset
                  </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button style="width: 90%; font-weight: bold;" type="button" color="primary">Skip</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- left side Grid - starts here -->
          </div>
        </ion-col>
        <ion-col size="4" style="border-left: 4px solid #3b4bad;">
          <div>
            <app-user-details></app-user-details>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- Parent Grid - ends here -->
  <app-footer> </app-footer>
</ion-content>