<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col size="3" size="12" size-sm>
          <div>
            Service Point :
          </div>
        </ion-col>
        <ion-col size="5" size="12" size-sm>
          <div>
            Medicine Dispense
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            Service Date :
          </div>
        </ion-col>
        <ion-col size="auto">
          <div>
            Logout
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #e6e9f2;">
  <!-- Parent Grid - starts here -->
  <form [formGroup]="medicineDispenseForm" (ngSubmit)="onSubmit(medicineDispenseForm.value)"
    style="margin-bottom: 25px;">
    <ion-grid style="padding: 0px;">
      <ion-row style="min-height: 600px;">
        <ion-col size="12" size-sm>
          <div>
            <!-- left side Grid - starts here -->
            <ion-grid style="padding: 0 3%;">
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Beneficiary ID
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select formControlName="beneficiaryId" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                    <ion-select-option value="f">Female</ion-select-option>
                    <ion-select-option value="m">Male</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border" style="height: 85px;">
                <ion-col class="col-border-right" size="12" size-sm>
                  <ion-checkbox (ionChange)="remarksCheckbox($event)"></ion-checkbox>
                  Remarks
                </ion-col>
                <ion-col>
                  <div [ngClass]="{'hider' : !showDispenses}">
                    <ion-textarea formControlName="remarks" class="field-input"
                      placeholder="Enter more information here..."></ion-textarea>
                  </div>
                </ion-col>
              </ion-row>
              <div [ngClass]="{'hider' : showDispenses}">
                <ion-row style="text-align: center; padding: 5px; background-color: #3b4bad;
             color: #FFF;">
                  <ion-col size="12" size-sm>
                    <div>SNo.</div>
                  </ion-col>
                  <ion-col size="12" size-sm>
                    <div>Consumable Name</div>
                  </ion-col>
                  <ion-col size="12" size-sm>
                    <div>Issue Quantity</div>
                  </ion-col>
                </ion-row>
                <ion-row class="row-border" style="border-bottom: 2px solid #ccc;"
                  *ngFor="let medicineDispense of medicineDispenses">
                  <ion-col class="col-border-right" size="12" size-sm>
                    <ion-checkbox (ionChange)="dispenseCheckbox(medicineDispense.itemId, $event)"></ion-checkbox>
                  </ion-col>
                  <ion-col class="col-border-right" size="12" size-sm>
                    {{medicineDispense.genericName}}
                  </ion-col>
                  <ion-col>
                    <div [ngClass]="{'hider' : !medicineDispense.allowQuantity}">
                      <ion-input placeholder="Enter Quantity" class="field-input" value=""
                        (ionBlur)="quantityInput(medicineDispense.itemId, $event)"></ion-input>
                    </div>
                  </ion-col>
                </ion-row>
              </div>

              <ion-row class="row-border row-height-45" align-items-center justify-content-center>
                <ion-col size="12" size-sm>
                  <ion-button style="width: 90%; font-weight: bold;" type="submit" color="primary">Issue</ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button style="width: 90%; font-weight: bold;" type="reset" color="primary">Skip</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- left side Grid - starts here -->
          </div>
        </ion-col>
        <ion-col size="4" style="border-left: 4px solid #3b4bad;">
          <div>
            <app-user-details></app-user-details>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- Parent Grid - ends here -->
  <app-footer> </app-footer>
</ion-content>