<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col size="3">
          <div>
            Service Point : Gogikona
          </div>
        </ion-col>
        <ion-col size="5">
          <div>
            Registration
          </div>
        </ion-col>
        <ion-col>
          <div>
            Service Date: 2019-12-15
          </div>
        </ion-col>
        <ion-col size="auto">
          <div>
            Logout
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="text-align: center; height: 500px;">
      <ion-col style="text-align: center;border: 1px solid red;">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="4" style="text-align: center;border: 1px solid red;">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer> </app-footer>
</ion-content>
