<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col size="3" size="12" size-sm>
          <div>
            Service Point : {{servicePointName}}
          </div>
        </ion-col>
        <ion-col size="5" size="12" size-sm>
          <div>
            Beneficiary Registration
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            Service Date: {{dateTime}}
          </div>
        </ion-col>
        <ion-col size="auto" size="12" size-sm>
          <div>
            Logout
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #e6e9f2;">
  <!-- Parent Grid - starts here -->
  <form [formGroup]="benRegForm" (ngSubmit)="onSubmit(benRegForm.value)" style="margin-bottom: 25px;">
    <ion-grid style="padding: 0px;">
      <ion-row style="min-height: 640px;">
        <ion-col size="12" size-sm>
          <div>
            <!-- left side Grid - starts here -->
            <ion-grid style="padding: 0 3%;">
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Date of Registration
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input class="field-input" readonly [value]="dateTime"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Beneficiary Name
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input formControlName="benificiaryName" placeholder="Enter Beneficiary Name" class="field-input"
                    value=""></ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Surname
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input formControlName="surname" placeholder="Enter Surname" class="field-input" value="">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Gender
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select formControlName="gender" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                    <ion-select-option *ngFor="let gender of genders" value="{{gender.genderId}}">{{gender.gender}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Age
                </ion-col>
                <ion-col style="padding: 0;" size="12" size-sm>
                  <ion-grid style="padding: 0; margin: 0;">
                    <ion-row style="width: 95%;">
                      <ion-col style="padding-left: 0;">
                        <ion-input formControlName="age" class="field-input" type="number" value=""
                          (ionBlur)="ageChange()">
                        </ion-input>
                      </ion-col>
                      <ion-col>
                        <ion-select (ionChange)="ageUnitChange()" formControlName="ageUnit" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                        background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                          <ion-select-option *ngFor="let ageUnit of ageUnits" value="{{ageUnit.ageUnitId}}"
                            selected="{{ageUnit.isSelected}}">{{ageUnit.ageUnitName}}
                          </ion-select-option>
                        </ion-select>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45" [ngClass]="{
                'hider': !showPregnancyField }">
                <ion-col class="col-border-right" size="12" size-sm>
                  Pregnancy
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select formControlName="pregnancyStatus" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                    <ion-select-option *ngFor="let pregnancyStatus of pregnancyStatuses" value="{{pregnancyStatus.Id}}">
                      {{pregnancyStatus.status}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Date of Birth
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-datetime class="field-input" displayFormat="YYYY-MM-DD" value="" formControlName="dateOfBirth"
                    (ionChange)="dateOfBirthChange()"></ion-datetime>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Age Group
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select formControlName="ageCategory" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                    <ion-select-option *ngFor="let ageCategory of ageCategories" value="{{ageCategory.ageCategoryId}}">
                      {{ageCategory.ageCategoryName}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border">
                <ion-col class="col-border-right" size="12" size-sm>
                  Personal Number
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-grid style="padding: 0; margin: 0;">
                    <ion-row style="width: 95%;" align-items-center justify-content-center>
                      <ion-col size="10" style="padding-left: 0;">
                        <ion-input formControlName="personalNumber" class="field-input" value="" style="width: 100%;"
                          [disabled]="disablePersonalNumber"></ion-input>
                      </ion-col>
                      <ion-col size="auto" size-sm>
                        <ion-checkbox (ionChange)="personalNumberCheckbox($event)" [checked]='personalNumberChecked'
                          style="height: 20px; width: 20px;">
                        </ion-checkbox>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Family/Relative Number
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-grid style="padding: 0; margin: 0;">
                    <ion-row style="width: 95%;" align-items-center justify-content-center>
                      <ion-col size="10" style="padding-left: 0;">
                        <ion-input formControlName="familyOrRelativeNumber" class="field-input" value=""
                          style="width: 100%;" [disabled]="disableFamilyOrRelativeNumber"></ion-input>
                      </ion-col>
                      <ion-col size="auto" size-sm>
                        <ion-checkbox (ionChange)="familyOrRelativeNumberCheckbox($event)"
                          [checked]='familyOrRelativeChecked' style="height: 20px; width: 20px;"></ion-checkbox>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Caste
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select formControlName="caste" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                    <ion-select-option *ngFor="let community of castes" value="{{community.communityId}}">
                      {{community.communityName}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45" size="12" size-sm>
                <ion-col class="col-border-right">
                  Religion
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-select formControlName="religion" class="field-input" style="color: #000; font-weight: bold; background: #3b4bad; 
                  background-image: linear-gradient(#3b4bad, #FFF)" placeholder="Select">
                    <ion-select-option *ngFor="let religion of religions" value="{{religion.religionId}}">
                      {{religion.religionName}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45">
                <ion-col class="col-border-right" size="12" size-sm>
                  Number of Family Members
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-input formControlName="numberOfFamilyMembers" class="field-input" value=""></ion-input>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45" align-items-center justify-content-center>
                <ion-col class="col-border-right" size="12" size-sm>
                  BPL
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-checkbox (ionChange)="bplCheckbox($event)" [checked]='bplChecked'
                    style="height: 20px; width: 20px;"></ion-checkbox>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45" align-items-center justify-content-center>
                <ion-col class="col-border-right" size="12" size-sm>
                  Handicapped
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-checkbox (ionChange)="handiCappedCheckbox($event)" [checked]='handicappedChecked'
                    style="height: 20px; width: 20px;">
                  </ion-checkbox>
                </ion-col>
              </ion-row>
              <ion-row class="row-border row-height-45" align-items-center justify-content-center>
                <ion-col size="12" size-sm>
                  <ion-button style="width: 90%; font-weight: bold;" type="submit" color="primary">Submit</ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                  <ion-button (click)="resetValues()" style="width: 90%; font-weight: bold;" type="button"
                    color="primary">Reset</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- left side Grid - starts here -->
          </div>
        </ion-col>
        <ion-col size="4" style="border-left: 4px solid #3b4bad;">
          <div>
            <ion-grid class="site-color" style="padding: 0 3%;">
              <ion-row style="height: 162px; text-align: center;">
                <ion-col size="12" size-sm>
                  <div>
                    <img [src]="benPhoto" alt="user-avatar" width="150px" height="150px" />
                  </div>
                </ion-col>
              </ion-row>
              <ion-row style="text-align: center;">
                <ion-col size="12" size-sm>
                  <div>
                    <ion-button (click)="takeSnap()" style="width: 90%; font-weight: bold;" type="button"
                      color="primary">Take a Photo
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- Parent Grid - ends here -->
  <app-footer> </app-footer>
</ion-content>