<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button (click)="moreOptions()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="mainGrid">
    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col size="4">
        <p class="label">Name</p>
        <p>Karthik</p>
      </ion-col>

      <ion-col size="4" offset="4">
        <p style="margin: 0; padding: 6px; text-align: center;">
          <img
            src="assets/images/milinda.jpg"
            height="80px"
            style="border-radius: 100%;"
          />
        </p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Phone</p>
      </ion-col>
      <ion-col auto offset="4">
        <p>7780132977</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Email</p>
      </ion-col>
      <ion-col auto offset="2">
        <p>nagamallesh619@gmail.com</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Gender</p>
      </ion-col>
      <ion-col size="auto" offset="2">
        <p>Select</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Date of birth</p>
      </ion-col>
      <ion-col size="auto" offset="2">
        <p>Select</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Blood group</p>
      </ion-col>
      <ion-col size="auto" offset="2">
        <p>Select</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Marital status</p>
      </ion-col>
      <ion-col size="auto" offset="2">
        <p>Select</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Height</p>
      </ion-col>
      <ion-col size="auto" offset="2">
        <p>Select</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Weight</p>
      </ion-col>
      <ion-col size="auto" offset="2">
        <p>Select</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
