.mainGrid{
    margin: 10px;
}

.card-heading{
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
}

.fieldsRow {
    margin: 5px;
}

.genderBackground{
    background: #0a9f28;
    color: #fff;
    font-weight: bold;
}

.field-input {
    border: 1px solid #999999;
    border-radius: 20px;
    width: 100%;
    padding: 2px 10px !important;
    font-size: 20px;
}

.paddTnB10{
    padding: 12px 16px !important;
}

.genderRow{
    text-align: center;
}