<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button (click)="moreOptions()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="mainGrid">
    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col (click)="navigateToEditProfile('name')">
        <p class="label">Name</p>
        <p>{{name}}</p>
      </ion-col>

      <ion-col size="auto" (click)="openMenu()">
        <p style="margin: 0; padding: 6px; text-align: center;">
          <img
            [src]="profilePhoto"
            height="80px"
            style="border-radius: 100%;"
          />
        </p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Phone</p>
      </ion-col>
      <ion-col size="auto">
        <p>{{phone}}</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Email</p>
      </ion-col>
      <ion-col size="auto">
        <p>{{email}}</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Gender</p>
      </ion-col>
      <ion-col size="auto">
        <p>{{gender}}</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Date of birth</p>
      </ion-col>
      <ion-col size="auto">
        <p>{{dob}}</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Blood group</p>
      </ion-col>
      <ion-col size="auto">
        <p>{{bloodGroup}}</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Marital status</p>
      </ion-col>
      <ion-col size="auto">
        <p>{{maritalStatus}}</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Height</p>
      </ion-col>
      <ion-col size="auto">
        <p>{{height}}</p>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #999;">
      <ion-col>
        <p class="label">Weight</p>
      </ion-col>
      <ion-col size="auto">
        <p>{{weight}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
