.btnsGrid{
    padding: 20px;
    text-align: center;
}

.btnsGrid ion-col{
    padding: 12px;
    border-radius: 20px;
    border: 2px solid #999;
    margin-top: 25px;
}

.btn-success{
    background-color: #0a9f28;
    color: #fff;
}

.complaintDescription{
    font-size: 18px;
    border: 1px solid #999;
    border-radius: 5px;
}
