<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Files</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid doctorGrid"  *ngIf ="files.length >0 ; else noFiles">
    <ion-row
      style="color: #000; background: #fff; border-bottom: 1px solid #999;"
      [routerLink]="['/view-file' , file.fileId  ]"
      *ngFor="let file of files"
    >
      <ion-col size="3">
        <p style="margin: 0; padding: 6px; text-align: center;">
          <img class="fileImage" [src]="file.imageUrl" height="70px" />
        </p>
      </ion-col>
      <ion-col class="fileInfoCol">
        <p class="fileName">{{file.fileName}}</p>
        <p>{{file.date | date : 'MMM d, y'}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #noFiles>
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color: red; text-align: center;">
          There are no Files </ion-card-title
        >
      </ion-card-header>
    </ion-card>
  </ng-template>
</ion-content>
