<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homeo-kits"></ion-back-button>
    </ion-buttons>
    <ion-title>{{kitDetailType}}</ion-title>

    <ion-buttons slot="secondary">
      <ion-button (click)="saveKit()" [disabled] ="kitForm.invalid">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
<form [formGroup] ="kitForm">
    <ion-row>
      <ion-col style="align-items: center;" (click)="uploadingPhoto()">
        <p style="margin: 0;  text-align: center;">
          <img
          [src]="kitImage? kitImage :'assets/images/kit.jpeg'" 
            height="80px"
            style="border-radius: 100%;"
          /><br>
          <span>Change Photo</span>
        </p>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label position="floating">Kit Name</ion-label>
          <ion-input type="text" formControlName ="kitName"></ion-input>
        </ion-item>

      </ion-col>
      
    </ion-row>

    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea type="text" formControlName ="kitDescription"></ion-textarea>
        </ion-item>

      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Price</ion-label>
          <ion-input type="number" formControlName ="kitPrice"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>

    
  
  </form>
  </ion-grid>

</ion-content>
